section#body
    h1.Title
    .jumbotron
        h1 Register
        p Register to 
            strong start
            | &nbsp;borrowing
    
    section.col-md-8.col-sm-12
        h1 Registered yet?
        p lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet, leo in sodales facilisis, nisl arcu lacinia purus, vel luctus libero dolor vel erat. Vivamus vulputate lorem mauris, non pharetra ligula fringilla quis. Morbi dui risus, condimentum vel lectus a, ultricies ullamcorper odio. Maecenas varius ultricies sem vel pellentesque. Praesent sed purus luctus, vulputate turpis eu, eleifend mauris. Nam venenatis, quam at porta molestie, velit mi dignissim tellus, ac volutpat risus mauris vitae tortor. Ut faucibus pharetra leo, eu vehicula ante iaculis id. Vivamus eget purus a urna interdum finib
        | Ut consectetur, lorem eget luctus mollis, orci velit aliquet enim, pulvinar sodales felis lacus et ligula. Proin mollis turpis et dignissim accumsan. Quisque ac arcu et sapien convallis vehicula sit amet eu elit. Praesent feugiat volutpat purus, quis eleifend magna facilisis non. Vivamus scelerisque non eros eget ullamcorper. Etiam mattis lacus vitae mi pellentesque, et aliquam lacus mollis. In pulvinar vitae ipsum sed semper. Duis eget arcu nec nunc volutpat scelerisque. Aliquam ex tortor, posuere a urna in, ultrices porttitor diam. In non mi at magna ullamcorper maximus. Duis gravida ac justo eget porttitor.
        | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur auctor dolor vel ante tristique gravida. Sed eget nibh ullamcorper, pulvinar mi nec, fermentum justo. Mauris id venenatis diam. Sed tristique non metus sit amet dictum. Phasellus luctus sagittis eros non mollis. Ut hendrerit vulputate massa dictum mattis. In sagittis tellus id purus semper, id egestas tellus euismod. Nulla lobortis eget purus a laoreet. Fusce diam ipsum, suscipit eget sollicitudin ut, cursus in tellus. Aliquam iaculis tellus sed sem luctus porttitor. Fusce elit risus, bibendum sit amet massa ac, sodales posuere ipsum. Proin eu placerat sapien.
        | Maecenas et ex at est commodo auctor. Nullam eget nisi id mi fringilla malesuada sit amet venenatis nulla. In tortor nisi, pretium hendrerit est ut, faucibus elementum felis. Vivamus ut egestas mauris. Integer viverra nibh a ipsum dictum bibendum. Donec mauris mi, gravida eget arcu eget, laoreet volutpat neque. Praesent ut ante condimentum ex congue eleifend ultrices id tellus. Sed vehicula sit amet sapien convallis imperdiet. Ut diam purus, maximus quis condimentum a, condimentum ac lacus. Donec libero lorem, commodo ac rutrum vitae, imperdiet ornare dui. Vivamus sollicitudin sollicitudin libero a tincidunt. Duis a mauris id diam scelerisque suscipit.
        | Fusce congue posuere elit et sagittis. Sed ut sem bibendum leo bibendum porta. Aliquam erat volutpat. Vivamus vel euismod lectus, eget blandit lacus. Pellentesque blandit eu arcu nec viverra. Nulla eu consequat dui. Pellentesque euismod augue ac nunc lobortis dictum. Praesent ac nibh efficitur, congue ante non, tincidunt quam. Duis suscipit hendrerit erat, et suscipit enim laoreet eu. Nunc vulputate quis metus quis dignissim. Nullam tempor a lorem tristique tincidunt.
    section.col-md-4.col-sm-12
        h1 Registered yet?
        p lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet, leo in sodales facilisis, nisl arcu lacinia purus, vel luctus libero dolor vel erat. Vivamus vulputate lorem mauris, non pharetra ligula fringilla quis. Morbi dui risus, condimentum vel lectus a, ultricies ullamcorper odio. Maecenas varius ultricies sem vel pellentesque. Praesent sed purus luctus, vulputate turpis eu, eleifend mauris. Nam venenatis, quam at porta molestie, velit mi dignissim tellus, ac volutpat risus mauris vitae tortor. Ut faucibus pharetra leo, eu vehicula ante iaculis id. Vivamus eget purus a urna interdum finib
    .debug
        p angular test - {{ message }}