.navbar-right(ng-controller="mvNavLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        a.btn(href="#/signup") Sign Up
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(type="password", ng-model="password", placeholder="password")
        button.btn.btn-primary(ng-click="signIn(username, password)") Sign In
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName }}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="#/admin/users") Users Admin
                li
                    a(href="#/profile") Profile
                li
                    a(href="", ng-click="signOut()") Sign Out
