.well
    form.form-horizontal(name="profileForm")
        fieldSet
            legend User Profile
            .form-group
                label.col-md-2.control-label(for="email") Email
                .col-md-10
                    input.form-control(name="email", type="email", placeholder="email", ng-model="email", required)
            .form-group
                label.col-md-2.control-label(for="fname") First name
                .col-md-10
                    input.form-control(name="fname", type="text", placeholder="first name", ng-model="fname", required)
            .form-group
                label.col-md-2.control-label(for="lname") Last Name
                .col-md-10
                    input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="lname", required)
            .form-group
                label.col-md-2.control-label(for="password") password
                .col-md-10
                    input.form-control(name="password", type="password", placeholder="password", ng-model="password")
            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="update()", ng-disabled="profileForm.$invalid") Submit
                        | &nbsp;
                        a.btn.btn-default(href="/") Cancel
                        
                        