.well
    form.form-horizontal(name="signupForm")
        fieldSet
            legend New user information
            .form-group
                label.col-md-2.control-label(for="email") Email
                .col-md-10
                    input.form-control(name="email", type="email", placeholder="email", ng-model="email", required)
            .form-group
                label.col-md-2.control-label(for="password") password
                .col-md-10
                    input.form-control(name="password", type="password", placeholder="password", ng-model="password", required)
            .form-group
                label.col-md-2.control-label(for="fname") First name
                .col-md-10
                    input.form-control(name="fname", type="text", placeholder="first name", ng-model="fname", required)
            .form-group
                label.col-md-2.control-label(for="lname") Last Name
                .col-md-10
                    input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="lname", required)
            .form-group
                .col-md-2
                        a.btn.btn-default(href="/") Cancel
                .col-md-10
                    .pull-right
                        button.btn.btn-primary(ng-click="signup()", ng-disabled="signupForm.$invalid") Submit
                        
                        