doctype html
html
  head
    title FreeShare
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel="stylesheet", type='text/css', href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css")
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-cyborg-min.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
  body(ng-app='app')
    #page
      include currentUser
      .container
        header.well.well-sm
          .navbar.navbar-static-top
            #logo.navbar-header
              button.btn.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
                span.glyphicon.glyphicon-chevron-down
              a.navbar-brand(href="/") 
                h4 FreeShare
                h6 Share your films and games
            .collapse.navbar-collapse
              div(ng-controller="mvTopNavLinksCtrl")
                ul.nav.navbar-nav
                  li.nav
                    a(href="/") Home
                  li.nav
                    a(href="/#items") Items
                  li(ng-show="identity.currentUser.isAdmin()")
                    a(href="#/requests") Requests
                
              div.col-md-(ng-include="'/partials/navbar-login'")
      block content
      .container
        footer.well.well-sm Copyright
      
    include scripts
