script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js")
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js")
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js")
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js")
script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js")
xscript(type="text/javascript", src="/js/ng.js")
script(type="text/javascript", src="app/app.js")
script(type="text/javascript", src="app/common/mvNotifier.js")
script(type="text/javascript", src="app/main/controllers/mvMainCtrl.js") 
script(type="text/javascript", src="app/account/controllers/mvNavLoginCtrl.js")
script(type="text/javascript", src="app/account/factories/mvIdentity.js")
script(type="text/javascript", src="app/account/factories/mvAuth.js")
script(type="text/javascript", src="app/account/factories/mvUser.js")
script(type="text/javascript", src="app/account/controllers/mvSignupCtrl.js")
script(type="text/javascript", src="app/account/controllers/mvProfileCtrl.js")
script(type="text/javascript", src="app/admin/controllers/mvUserListCtrl.js")
script(type="text/javascript", src="app/main/factories/mvItem.js")
script(type="text/javascript", src="app/main/factories/mvRequest.js")
script(type="text/javascript", src="app/main/factories/mvItemAPI.js")
script(type="text/javascript", src="app/main/factories/mvRequestAPI.js")
script(type="text/javascript", src="app/main/controllers/mvItemListCtrl.js")
script(type="text/javascript", src="app/main/controllers/mvRequestListCtrl.js")
script(type="text/javascript", src="app/main/controllers/mvItemAddCtrl.js")
script(type="text/javascript", src="app/main/controllers/mvTopNavLinksCtrl.js")
script(type="text/javascript", src="app/main/controllers/mvItemRequestedCtrl.js")
