.well
    form.form-horizontal(name="itemAddForm")
        fieldSet
            legend New Item
            .form-group
                label.col-md-2 Name
                .col-md-10
                    input.form-control(type="text" name="name" ng-model="name", placeholder="Blade Runner" required)
            .form-group
                label.col-md-2 Description
                .col-md-10
                    input.form-control(type="text" name="description" ng-model="description" placeholder="Best film ever" required)
            .form-group
                label.col-md-2 Tags
                .col-md-10
                    input.form-control(type="text" name="tags" ng-model="tags" placeholder="blue-ray sci-fi film" required)
            .form-group
                .col-md-2
                    a.btn.btn-default(href="/") Cancel
                .col-md-10
                    .pull-right
                        button.btn.btn-primary(ng-click="addItem()", ng-disabled="itemAddForm.$invalid") Add
                        
