h1 Items
a.btn.bt-primary(href="#/addItem", ng-show="identity.isAuthenticated()") Add New
table.table
    thead
        tr
            th Name
            th Description 
            th Status 
            th Owner
            th Borrower 
            th Tags
            th 
    tbody
        tr(ng-repeat="item in items")
            td {{ item.name}}
            td {{ item.description }}
            td {{ item.status }}
            td {{ item.owner.firstName }} {{ item.owner.lastName }}
            td {{ item.borrower }}
            td {{ item.tags.join(', ') }}
            td
                span(ng-show="identity.isAuthenticated()" ng-controller="mvItemRequestedCtrl")
                    p rr {{ request._id }}
                    button.btn.btn-primary(ng-click="requestBorrow(item._id)", ng-show="!request") Request 
                    button.btn.btn-primary(ng-click="unRequestBorrow(item._id)", ng-show="request") UnRequest
            td {{ item._id }}