h1 Requests
table.table
    thead
        tr
            th Item 
            th Borrower
    tr(ng-repeat="request in requests")
        td {{ request.item.name}}
        td {{ request.borrower.firstName }}